{{ define "footer" }}
<div class="footer">
    <div class="copyright">
        <p>&copy; 2022 Nathan Wehr. All rights reserved.</p>
    </div>
    <div class="donation">
        <p>BTC bc1qkm8gm3ggu8s4lnnc8mp0fahksp23u965hp758c RVN RSm7jfUjynsVptGyEDaW5yShiXbKBPsHNm</p>
    </div>
</div>
{{ end }}