<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <style>
        body {
            padding: 0;
            margin: 0;

            font-family: "Helvetica"
        }

        a {
            color: blue;
            text-decoration: none;
        }

        h4 {
            margin: .5em 0;
        }

        h4:first-child {
            margin-top: 0;
        }

        table {
            width: 100%;
        }

        table th {
            text-align: left;
        }

        .navbar {
            width: 100%;
            padding: 1em;
            background: #d5d5d5;
        }

        .navbar>form {
            display: inline-block;
        }

        .navbar>form>input#long_url {
            min-width: 30em;
        }

        .navbar>div {
            display: inline-block;
        }

        div.content {
            padding: 1em;
        }

        .urlmap {
            border: solid 1px #d5d5d5;
            border-radius: .25em;
            padding: 1em;
        }


        .footer {
            color: #999;
            font-weight: lighter;

            text-align: center;

            border-top: solid 1px #d5d5d5;
        }
    </style>
</head>

<body>
    {{ if .LoggedIn }}
    <div class="navbar">
        <form id="myform">
            <input type="text" id="long_url" placeholder="Paste URL..." />
            <input type="submit" value="Create" />
        </form>
        <div>
            <a href="{{ .Opts.PublicURL }}/auth/logout">Logout, {{ .Username }}</a>
        </div>
    </div>

    {{ range .URLs }}
    <div class="content">
        <div class="urlmap">
            <h4>Short URL</h4>
            <div><a href="{{ $.Opts.PublicURL }}/{{ .Key }}">{{ $.Opts.PublicURL }}/{{ .Key }}</a></div>

            <h4>Redirects To</h4>
            <div><a href="{{ .LongURL }}">{{ .LongURL }}</a></div>

            <h4>Visits</h4>
            <div>{{ .Visits }}</div>
        </div>
    </div>
    {{ end }}

    <script>
        document.getElementById("myform").onsubmit = async (e) => {
            e.preventDefault();
            try {
                const resp = await fetch("{{ .Opts.PublicURL }}/api/create", { method: "POST", body: JSON.stringify({ long_url: document.getElementById("long_url").value }) })
                const json = await resp.json()

                window.location.reload();
            } catch (e) {
                console.error(e)
            }
        };
    </script>
    {{ else }}
    <div class="navbar">
        <div>
            <a href="{{ .Opts.PublicURL }}/auth/login">Login</a>
        </div>
    </div>
    <div class="content">
        <h3>Fast and Free</h3>
        <p>Shorty is a free and open source url shortener. It's also fast, like, super fast.</p>

        <h3>Secure</h3>
        <p>Shorty integrates with any OAuth 2.0 provider that supports JWTs.</p>

        <h3>Simple Statistics</h3>
        <p>Shorty tracks the number of visits for your short links.</p>
    </div>
    {{ end }}

    <div class="footer">
        <div class="copyright">
            <p>&copy; 2022 Nathan Wehr. All rights reserved.</p>
        </div>
        <div class="donation">
            <p>BTC bc1qkm8gm3ggu8s4lnnc8mp0fahksp23u965hp758c RVN RSm7jfUjynsVptGyEDaW5yShiXbKBPsHNm</p>
        </div>
    </div>
</body>

</html>