<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <style>
        body {
            padding: 0;
            margin: 0;

            font-family: "Helvetica"
        }

        a {
            color: blue;
        }

        h4 {
            margin: .5em 0;
        }
        
        h4:first-child {
            margin-top: 0;
        }

        table {
            width: 100%;
        }

        table th {
            text-align: left;
        }

        .navbar {
            width: 100%;
            padding: 1em;
            background: #d5d5d5;
        }

        .navbar>form {
            display: inline-block;
        }

        .navbar>div {
            display: inline-block;
        }

        .urlmap {
            padding: 1em;
            margin: 1em;
            border: solid 1px #d5d5d5;
            border-radius: .25em;
        }
    </style>
</head>

<body>
    <div class="navbar">
        {{ if .LoggedIn }}
        <form id="myform">
            <input type="text" id="long_url" placeholder="Paste URL..." />
            <input type="submit" value="Create" />
        </form>

        <div>
            <a href="{{ .Opts.PublicURL }}/auth/logout">Logout, {{ .Username }}</a>
        </div>
        {{ else }}
        <div>
            <a href="{{ .Opts.PublicURL }}/auth/login">Login</a>
        </div>
        {{ end }}
    </div>

    {{ range .URLs }}
    <div class="urlmap">
        <h4>Short URL</h4>
        <div><a href="{{ $.Opts.PublicURL }}/{{ .Key }}">{{ $.Opts.PublicURL }}/{{ .Key }}</a></div>

        <h4>Redirects To</h4>
        <div><a href="{{ .LongURL }}">{{ .LongURL }}</a></div>
    </div>
    {{ end }}

    <script>
        document.getElementById("myform").onsubmit = async (e) => {
            e.preventDefault();
            try {
                const resp = await fetch(`{{ .Opts.PublicURL }}/api/create`, { method: "POST", body: JSON.stringify({ long_url: document.getElementById("long_url").value }) })
                const json = await resp.json()

                window.location.reload();
            } catch (e) {
                console.error(e)
            }
        };
    </script>
</body>

</html>